<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Налаштування PID-регулятора</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th colspan="2">Регулюючі значення</td>
                            <th>Збережені значення</td>
                        </tr>
                        <tr>
                            <td>Kp</td>
                            <td>
                                <div class="pull-left">
                                    <input id="Kp" type="text" value="{{ device.getConfig['Kp'] }}" />
                                </div>
                            </td>
                            <td>
                                <div class="pull-right">
                                    <input id="Kp_stored" disabled="disabled" value="{{ device.getConfig['Kp'] }}" style="width: 100px;text-align: center;" type="text" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Ki</td>
                            <td>
                                <div class="pull-left">
                                    <input id="Ki" type="text" value="{{ device.getConfig['Ki'] }}" />
                                </div>
                            </td>
                            <td>
                                <div class="pull-right">
                                    <input id="Ki_stored"  disabled="disabled" value="{{ device.getConfig['Ki'] }}" style="width: 100px;text-align: center;" type="text" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Kd</td>
                            <td>
                                <div class="pull-left">
                                    <input id="Kd" type="text" value="{{ device.getConfig['Kd'] }}" />
                                </div>
                            </td>
                            <td>
                                <div class="pull-right">
                                    <input id="Kd_stored" disabled="disabled" value="{{ device.getConfig['Kd'] }}" style="width: 100px;text-align: center;" type="text" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="100%">
                                <div class="top-spacer-30">
                                    <button class="btn btn-default disabled" id="savePidConfig"><i class="fa fa-save"></i>Зберегти коефіцієнти</button>
                                    <button class="btn btn-default disabled" id="updatePidChart"><i class="fa fa-bar-chart"></i>Оновити графік</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Перехідна характеристика системи з ПІД-регулятором</h3>
            </div>
            <div class="panel-body">
                <canvas id="PidChart" width="100%" height=""></canvas>
            </div>
        </div>
    </div>
</div>