<div class="row">
    <div class="col-sm-6">
        <img src="{{ asset('images/apparatus.jpg') }}" height="340" />
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Пульт оператора</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Витрата C2H2 (Fg)</td>
                            <td>
                                <div class="input-group input-group-lg">
                                    <input id="C2H2-Fg" type="text" value="{{ lastRecordData['C2H2-Fg'] }}" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Витрата NaOH (Fr)</td>
                            <td>
                                <div class="input-group input-group-lg">
                                    <input id="NaOH-Fr" type="text" value="{{ lastRecordData['NaOH-Fr'] }}" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Концентрація CO2 на вході (y0)</td>
                            <td>
                                <div class="input-group input-group-lg">
                                    <input id="CO2-in-C2H2-y0" type="text" value="{{ lastRecordData['CO2-in-C2H2-y0'] }}" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Концентрація CO2 на виході (y1)</td>
                            <td>
                                <div class="input-group input-group-lg">
                                    <input id="CO2-in-C2H2-y1" type="text" value="{{ lastRecordData['CO2-in-C2H2-y1'] }}" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Завдання для концентрації CO2 на виході (y1)</td>
                            <td>
                                <div class="input-group input-group-lg">
                                    <input id="CO2-in-C2H2-y1-target" type="text" value="{{ device.getConfig['CO2-in-C2H2-y1-target'] }}" />
                                    <button class="btn btn-default disabled" id="saveCo2Config"><i class="fa fa-save"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-default" onClick="refreshDeviceStats();"><i class="fa fa-refresh"></i> Refresh Chart</button>
                                <input id="amount" type="number" value="50" />
                                <input id="page" type="number" value="0" />
                            </td>
                            <td>
                                <button class="btn btn-primary" onClick="emulateDevice();" ><i class="fa fa-refresh"></i> Generate Records</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="row" id="deviceCharts">
    {# Записи моніторингу об'єкту керування (історія) #}
    {# history.js #}
</div>