{% extends 'base.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/lib/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('js/lib/Chart.js') }}"></script>
    <script src="{{ asset('js/show_device.js') }}"></script>
    <script src="{{ asset('js/pid.js') }}"></script>
    <script src="{{ asset('js/device_history.js') }}"></script>
{% endblock %}

{% block main %}
    <input type="hidden" id="deviceId" value="{{ device.id }}" />
    
    <div class="row text-center">
        <div class="col-sm-12">
            <!-- Вкладки навігації -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#pult-operatora-tab" aria-controls="pult-operatora-tab" role="tab" data-toggle="tab">Пульт оператора</a></li>
                <li role="presentation"><a href="#pid-config-tab" aria-controls="profile" role="tab" data-toggle="tab">Налаштування PID</a></li>
            </ul>

            <!-- Контент відповідно до навігаційних вкладок -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="pult-operatora-tab">
                    {{ include('devices/_pult-operatora.twig') }}
                </div>
                <div role="tabpanel" class="tab-pane" id="pid-config-tab">
                    {{ include('devices/_pid-config.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}