{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

    {#
        the homepage is a special page which displays neither a header nor a footer.
        this is done with the 'trick' of defining empty Twig blocks without any content
    #}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Welcome to <strong>WEB SCADA</strong></h1>
    </div>

    <div class="row">
        <div class="col-sm-6 col-centered">
            <div class="jumbotron">
                <p>
                    Open devices list
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('devices_index') }}">
                        <i class="fa fa-list" aria-hidden="true"></i> Browse Devices
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#defaultPanels" aria-expanded="false" aria-controls="defaultPanels">
                Show Default Panels
            </button>
        </div>
    </div>

    <div class="collapse" id="defaultPanels">
        <div class="row">
            <div class="col-sm-6">
                <div class="jumbotron">
                    <p>
                        {{ 'help.browse_app'|trans|raw }}
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('blog_index') }}">
                            <i class="fa fa-users" aria-hidden="true"></i> {{ 'action.browse_app'|trans }}
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="jumbotron">
                    <p>
                        {{ 'help.browse_admin'|trans|raw }}
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('admin_index') }}">
                            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_admin'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
