{% extends 'base.html.twig' %}

{# block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'bundles/loginlogin/css/specificPage.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock #}

{% block javascripts %}
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{{ asset('js/chart.js') }}"></script>
{% endblock %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>Chart Test</h1>

    <div class="row post-comment">
    {% if results|length > 0 %}
        <div id="chartContainer1" style="height: 300px; width: 95%;"></div>
        <br/><br/><br/>

        <script>
            var dataPointsArray1 = new Array({% for record in results %}{x:{{ record.x }},y:{{record.y }}}{% if loop.last  %}{% else %},{% endif %}{% endfor %});
            {# var dataPointsArray2 = new Array({% for record in device.records %}{% set contents = record.content | json_decode %}{x:{{ record.createdAt|date("U") }},y:{{ contents.flowNaOH }}}{% if loop.last  %}{% else %},{% endif %}{% endfor %}); #}
        </script>
    {% else %}
        <p>No records yet.</p>
    {% endif %}
    </div>

{% endblock %}

{% block sidebar %}
{% endblock %}