{% extends 'base.html.twig' %}

{# block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'bundles/loginlogin/css/specificPage.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock #}

{% block javascripts %}
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{{ asset('js/chart.js') }}"></script>
{% endblock %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ device.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ device.createdAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
    </p>

    <h3>Records:</h3>

    <div class="row post-comment">
    {% if device.records|length > 0 %}
        <div id="chartContainer1" style="height: 300px; width: 95%;"></div>
        <br/><br/><br/>
        <div id="chartContainer2" style="height: 300px; width: 95%;"></div>

        {#x: "{{ record.createdAt|date("Y-m-d H:i:s", "Europe/Kiev") }}", y: {{ contents.tempScr }}#}
        <script>
            var dataPointsArray1 = new Array({% for record in device.records %}{% set contents = record.content | json_decode %}{x:{{ record.createdAt|date("U") }},y:{{ contents.tempScr }}}{% if loop.last  %}{% else %},{% endif %}{% endfor %});
            var dataPointsArray2 = new Array({% for record in device.records %}{% set contents = record.content | json_decode %}{x:{{ record.createdAt|date("U") }},y:{{ contents.flowNaOH }}}{% if loop.last  %}{% else %},{% endif %}{% endfor %});
        </script>
    {% else %}
        <p>No records yet.</p>
    {% endif %}
    </div>

{% endblock %}

{% block sidebar %}
{% endblock %}